.mainContent {
    width: 82%;
    height: 100%;
    padding: 2rem;
    overflow: auto;
  
    h2 {
      text-align: left; 
      margin-bottom: 1rem;
      color: #154734; 
    }

    img {
        max-width: 150px;
        padding: 0.1rem;
        margin: 0; 
        border-radius: 2px;
    }
  
    .cameraContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60%; 
      height: 450px; 
      background: #f0f0f0;
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: 1rem;
      margin-top: 2rem;
      margin-left: auto;
      margin-right: auto;
    }
  
    .videoFeed,
    .capturedImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
    .buttonContainer {
      display: flex;
      justify-content: center;
      gap: 1rem;
  
      button {
        padding: 0.75rem 1.5rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
        transition: 0.3s ease-in-out;
      }
  
      .open-camera,
      .close-camera, 
      .capture-image {
        background-color: #28a745;
        color: white;
  
        &:hover {
            background-color: #e0a800;
        }
      }
    }
  }
  