@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  transition: .3 ease;
}

:root{
  --hoverColor: hsl(93, 75%, 76%);
  --paleGreen: hsl(96, 75%, 89%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --grayText: hsl(0, 0%, 75%);
  --bgColor: hsl(113, 11%, 85%);
  --inputColor: hsl(330, 12%, 97%);

  --h2FontSize: 1.25rem;
  --smallFontSize: .815em;
}

html{
  font-size: 90%;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

.icon{
  font-size: var(--h2FontSize);
}

img{
  width: 100%;
  height: auto;
}

.flex{
  display: flex;
  align-items: center;
}

.grid{
  display: grid;
  align-items: center;
  gap: 1.5rem;
}

.btn{
  outline: none;
  border: none;
  cursor: pointer;
  padding: .8rem 1rem;
  color: black;
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--inputColor);
}

.btn .icon{
  margin-left: .5rem;
}

.btn:hover{
  background-color: #ffc446;
  color: rgb(1, 8, 1);

}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 1rem;
}

.container{
  position: relative;
  height: 95vh;
  width: 95vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: var(--bgColor);
}

::-webkit-scrollbar{
  display: none;
}

